@inject UserManagementService UserManagementService
@inject RoleAttributeService RoleAttributeService
@inject ToastService ToastService
@using BlazorBootstrap;
@rendermode InteractiveServer

<select class="form-select" @onchange="async (e) => await OnChangedRole(e.Value?.ToString())">
    <option value="">Auswahl</option>
    @foreach(var role in roles)
    {
        <option value="@role.Id">@role.Name</option>
    }
</select>

@if (!string.IsNullOrEmpty(selectedId))
{
    <div class="row" style="margin-top:10px;">
        <div class="col">
            <label for="mediaControl">Medienfeatures: </label>
            <div id="mediaControl" class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" checked="@IsMediaControlEnabled" id="switchMediaControl" @onchange="OnMediaControlChanged" />
            </div>
            <label for="maxFilesize">Max. Upload (MB)</label>
            <input id="maxFilesize" class="form-control" type="number" value="@maxFileSize" @onchange="(e) => { maxFileSize = Convert.ToInt32(e.Value); ChangeFilesizeLimit(); }" /> 
        </div>
    </div>

}


@code {

    List<RoleDto> roles = new();
    RoleAttributes roleAttribute = new();
    RoleAttributes maxSizeAttribute = new();
    List<UserDto> users = new();
    int maxFileSize = 0;
    string selectedId = "";
    private bool IsMediaControlEnabled = false;

    private void ShowMessage(ToastType toastType)
    {
        ToastService.Notify(new ToastMessage
            {
                Type = toastType,
                Title = "Admin",
                Message = $"Änderungen gespeichert {DateTime.Now}"
            });
    }


    private async Task OnMediaControlChanged(ChangeEventArgs e)
    {
        IsMediaControlEnabled = (bool)Convert.ToBoolean(e.Value);
        await AddRoleAttributes(IsMediaControlEnabled);
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadRoles();
    }

    private async Task LoadRoles()
    {
        roles = await UserManagementService.GetRoles();
    }

    private async Task LoadRoleAttributes()
    {
        roleAttribute = await RoleAttributeService.GetRoleAttribute(selectedId, "MediaControl");
        maxSizeAttribute = await RoleAttributeService.GetRoleAttribute(selectedId, "MaxFileSize");
        if(maxSizeAttribute != null){
            maxFileSize = maxSizeAttribute.Value;
        } else
        {
            ChangeFilesizeLimit();
        }
        IsMediaControlEnabled = Convert.ToBoolean(roleAttribute?.Value) == true;
    }

    private async Task OnChangedRole(string role)
    {
        selectedId = role;
        await LoadRoleAttributes();
    }

    private async Task AddRoleAttributes(bool isActive)
    {
        await RoleAttributeService.AddRoleAttributes(selectedId, "MediaControl", Convert.ToInt32(isActive));
        ShowMessage(ToastType.Dark);
    }
    private async Task ChangeFilesizeLimit()
    {
        await RoleAttributeService.AddRoleAttributes(selectedId, "MaxFileSize", maxFileSize);
    }
}
